.headerSearch {
    cursor: pointer;
    font-size: 16px;

}
.ant-select-selection{
    background: transparent;
}
select {
    /*清除select默认样式*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;

    border:1px solid #CCC;
    width:330px;
    height:44px;
    /*自定义箭头的样式，记得背景一定要加 白色或其他*/
   
    /*ie下,原默认的箭头样式还是会显示，所以这里把自定义的样式给去除了*/
    background:#fff;
    color:#666;
    padding:8px;
    outline:none;
}
.ant-select-selection:hover{
    border-right: 2px solid #8a8f9d !important;
  }
  .ant-select-selection:active{
    border-right: 2px solid #8a8f9d !important;
  }
  .ant-select-selection:focus{
    border-right: 2px solid #8a8f9d !important;
  }
.select {
    transition: width 0.3s, margin-left 0.3s;
    /*很重要*/
    width: 0px;
    background:red;
    border-radius: 0px;
    appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none; 
 
}  

select::-ms-expand { display: none; }
.select    select {
border: 0px;
padding-left: 0;
padding-right: 0;
box-shadow: none !important;
appearance:none;
-moz-appearance:none;
-webkit-appearance:none; 
      
}

.select :focus {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #0a06f0;
}
.show {
width: 140px;
margin-left: 8px;
}

