.globalFooter {
  padding: 0 16px;
  margin: 20px 0 10px 0;
  text-align: center;


}
.links {
  margin-bottom: 8px;

 
}
.links a {
  color:black;
  transition:all 0.3s;
  margin-right: 40px;
  
  
}
.links a :hover{
  color: red;
}
.copyright {
  color: black;
  font-size: 14px;
}
