.globalFooter {
  margin: 2px 0 2px 0;
  padding: 0 16px 1px;
  text-align: center;
  width: 20%;

}
.links {
  margin-bottom: 8px;

 
}
.links a {
  color:black;
  transition:all 0.3s;
  margin-right: 40px;
  
  
}
.links a :hover{
  color: red;
}
.copyright {
  color: black;
  font-size: 14px;
}
