
.login-container {
  display:flex;
  min-height: 100vh;
  background-image: url('https://www.pexels.com/zh-cn/photo/latinx-697243/');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 110px;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
}


